html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgray;
}

h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 5px 10px;
}

.data-table {
  background-color: white;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.25);
}

.data-table h4 {
  margin-bottom: 0;
}
header {
  margin: 10px 0 0 40px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.row {
  display: grid;
  grid-template-columns: 15px repeat(4, calc(100% / 4 - 19px));
  grid-column-gap: 15px;
}
.content .row {
  padding: 10px;
}
.content {
  border-top: 1px solid black;
}
.content .row:nth-child(odd) {
  background-color: lightgray;
}
.checkbox {
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  height: 15px;
  font-size: 14px;
}
header span,
.row > span {
  font-size: 14px;
}

.partial {
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  border-radius: 4px;
  max-height: 0;
  padding: 0 20px 0 37px;
}
.show-details {
  max-height: 200px !important;
  padding: 10px 0 0 37px !important;
  grid-column: 1 / 6;
}

@media screen and (max-width: 520px) {
  .data-table {
    margin: 10px;
  }
}
