html {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: lightgray;
}
header {
  padding: 5px 20px 7px 15px !important;
  font: normal 14px sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: #313b3f;
  color: #d9a74a;
  overflow: auto;
  position: relative;
}
.fat-arrow {
  position: relative;
  float: left;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.fat-arrow span {
  font-size: 20px;
  font-style: italic;
  float: none;
  width: auto;
}
.caret {
  font-size: 30px;
  line-height: 22px;
  display: inline-block;
  font-weight: lighter;
}
header a {
  text-decoration: none;
  position: absolute;
  right: 20px;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  color: #d9a74a;
}
h4 {
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 5px 10px;
}
.data-table {
  background-color: white;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.25);
}
header {
  padding: 5px 10px 5px 40px;
}
header,
.row {
  overflow: auto;
}
.content .row {
  padding: 10px;
}
.content {
  border-top: 1px solid black;
}
.content .row:nth-child(odd) {
  background-color: lightgray;
}
.checkbox {
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 15px;
  font-size: 14px;
    padding: 1px 0 2px 5px;
}
header span,
.row > span {
  font-size: 14px;
  float: left;
  width: calc(25% - (40px / 4));
}
header span:first-child {
  padding-left: 30px;
}
.partial {
  clear: both;
  transition: all 0.25s;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
  border-radius: 4px;
  max-height: 0;
  padding: 0 20px 0 37px;
}
.show-details {
  max-height: 200px !important;
  padding: 10px 20px 0 37px !important;
}
